<table>
  <thead>
  <tr>
    <th>id</th>
    <th>username</th>
    <th>firstName</th>
    <th>gender</th>
    <th>createdDate</th>
    <th>updatedDate</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{ user.id }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.firstName }}</td>
    <td>{{ user.gender }}</td>
    <td>{{ user.createdDate }}</td>
    <td>{{ user.updatedDate }}</td>
    <td><a [routerLink]="['update', user.id]">Edit</a></td>
  </tr>
  </tbody>
</table>
